@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100&family=Roboto:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ANIMACIONES */
.menu-animado {
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}

.animacion-cv {
	-webkit-animation: flicker-2 2s linear 0.5s both;
	        animation: flicker-2 2s linear 0.5s both;
}
 @-webkit-keyframes flicker-2 {
    0%,
    100% {
      opacity: 1;
    }
    41.99% {
      opacity: 1;
    }
    42% {
      opacity: 0;
    }
    43% {
      opacity: 0;
    }
    43.01% {
      opacity: 1;
    }
    45.99% {
      opacity: 1;
    }
    46% {
      opacity: 0;
    }
    46.9% {
      opacity: 0;
    }
    46.91% {
      opacity: 1;
    }
    51.99% {
      opacity: 1;
    }
    52% {
      opacity: 0;
    }
    52.8% {
      opacity: 0;
    }
    52.81% {
      opacity: 1;
    }
  }
  @keyframes flicker-2 {
    0%,
    100% {
      opacity: 1;
    }
    41.99% {
      opacity: 1;
    }
    42% {
      opacity: 0;
    }
    43% {
      opacity: 0;
    }
    43.01% {
      opacity: 1;
    }
    45.99% {
      opacity: 1;
    }
    46% {
      opacity: 0;
    }
    46.9% {
      opacity: 0;
    }
    46.91% {
      opacity: 1;
    }
    51.99% {
      opacity: 1;
    }
    52% {
      opacity: 0;
    }
    52.8% {
      opacity: 0;
    }
    52.81% {
      opacity: 1;
    }
  }
  
colores {
    background:
    #e7594c 
    #f9ebe1
    #e1d031
    #e4a030
    #81b36b
    #d56e13;
}

html {
    scroll-behavior: smooth;
}
/* ----- HEADER ----- */
header {
    background: #ffffff;
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: solid 1px #d56e13;
    z-index: 1;
}
.menu img {
    width: 70px;
    height: 70px;
    margin-left: 10px;
}
body {
    background: #f9ebe1;
}
header .menu {
    display: flex;
}
header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
    
}

.menu ul li {
font-size: 1.5rem;
}
.menu a {
    color: #e7594c;
    text-decoration: none;
}





/* ----- MAIN ----- */

main img {
    margin-top: 200px;
    width: 330px;
    height: 400px;
}
main .presentacion {
    display: grid;
    justify-content: center;
    align-items: end;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 100vh;
}
.presentacion .perfil {
    grid-area: 1 / 2;
}
.informacion {
    grid-area: 1 / span 2;
}
.presentacion .cv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.informacion a {    
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    background: #e7594c;
    border: solid 1px #e7594c;
    font-size: 1.3rem;
    border-radius: 10px;
}
.informacion a:hover {
    background: white;
    color:#e7594c ;
    border: solid 1px #e7594c;
}
main .perfil {
    display: grid;
    justify-content: center;
    align-items: end;
}
.informacion h1 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}
.informacion h3 {
    font-family: 'Roboto', sans-serif;
}
.informacion p {
    font-size: 1.5rem;
    padding: 30px 0 20px 0;
    font-family: 'Roboto', sans-serif;
}





/* ----- SOBRE MI ----- */

main .sobre-mi {
    display: flex;
    flex-wrap: wrap;
}
.tarjetita {
    background: white;
    display: flex;
    flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
    margin:10px;
    padding:120px 55px 30px 55px;
    width: 30rem;
    height: 30rem;
    clip-path: 
    polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
main .tarjetita h2 {
    color: black;
	font-size: 1.5rem;
	font-weight: bold;
}

.tarjetita h2 {
    color: black;
	font-size: 1rem;
	font-weight: bold;
}

section .titulo {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 80px;
    font-size: 3rem;
}

/* EXPERIENCIA LABORAL */ 

main .experiencia-laboral {
    position: relative;
    margin-top: 150px;
    height: 100vh;
}
main #experiencia h2 {
    transform: translate3d(0px, 80px, 0px);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
}
main .experiencia-laboral hr {
    border: solid 1px black;
    opacity: 0.50;
}
main .tarjeta {
    background: white;
    position: absolute;
    border: solid 2px #d56e13;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    left: 110px;    
    width: 800px;      
}
main .tarjeta1 {
    background: white;
    position: absolute;
    border: solid 2px #e1d031;
    border-radius: 10px;
    margin: 10px; 
    padding: 10px;   
    top: 200px;
    right: 150px;
    width: 800px;
}
main .tarjeta2 {
    background: white;
    position: absolute;
    border: solid 2px #81b36b;
    border-radius: 10px;
    margin: 10px;    
    padding: 10px;
    left: 50px;
    top: 300px;
    width: 500px;
}
main .tarjeta3 {
    background: white;
    position: absolute;
    border: solid 2px #e7594c ;
    border-radius: 10px;
    margin: 10px; 
    padding: 10px;   
    right: 480px;
    top: 450px;
    width: 700px;
}

/* ----- FOOTER ----- */
